* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --primary: #2A7AE4;
  --black: #000000;
  --blackLighter: #9E9E9E;
  --grayLight: #F5F5F5;
  --grayMedium: #e5e5e5; 
  --grayDark: #042404;
  --white: #FFFFFF;
  --frontEnd: #8f1c1c;
  --backEnd: #509274;
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
} 
